.change-date {
	grid-row: 2/3;
	grid-column: 3/5;
	font-size: 24px;
	line-height: 19px;
	text-align: center;
	color: white;
	background-color: transparent;
	border: none;
	transform: rotate(-66deg);

	font-family: $roboto;
	font-weight: 300;
	i {
		margin: 20px;
	}
	&:focus {
		outline: none;
	}
}
